.card-list {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.card {
  text-align: center;
  flex-grow: 1;
  background: white;
  font-weight: bold;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  font-size: 1.5rem;
}

.card__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: dimgrey;
}

.card__number-green {
  color: green;
}

.card__number-red {
  color: red;
}

.card__number-yellow {
  color: orange;
}

.card__number-gray {
  color: gray;
}

.card__number-black {
  color: black;
}
