.sidebar {
  width: 15%;
  padding: 1rem;
  background-color: var(--bb-dark-color);
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  padding-top: 1rem;
  place-self: center;
  width: 33%;
}

.sidebar__nav {
  height: 100%;
  width: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.sidebar__link {
  width: auto;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.sidebar__link:hover {
  background-color: var(--bb-bright-blue);
  border-radius: 0.5rem;
}
